
.profile__subtitle{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: rgb(255, 255, 255);
    padding: 16px 0 0;
    margin: 0;
    max-width: 295px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width:700px) {
    .profile__subtitle {
        padding-top: 14px;
        font-size: 14px;
        line-height: 17px;
        text-align: center;

    }
}