
.footer__text{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: rgb(54, 54, 54);
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 600px) {
    .footer__text{
        font-size: 14px;
        line-height: 17px;
    }
}