
.header__description {
    padding: 0;
    margin: 0 auto 46px;
    cursor: pointer;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.header__description:hover {
    opacity: 0.6;
    transition: opacity 0.5s;

}