
.profile__title-button {
    display: flex;
    align-items: center;
    max-width: 336px;
}

@media screen and (max-width:900px) {
    .profile__title-button {
        max-width: 295px;
    }
}

@media screen and (max-width:540px) {
    .profile__title-button {
        justify-content: center;
    }
}