@import url('./vendor/normalize.css');
@import url('./vendor/fonts.css');


@import url('./blocks/all-content/all-content.css');

@import url('./blocks/page/__elements/page__elements.css');
@import url('./blocks/page/__footer/page__footer.css');
@import url('./blocks/page/__header/page__header.css');
@import url('./blocks/page/__profile/page__profile.css');
@import url('./blocks/page/__user-data-container/page__user-data-container.css');

@import url('./blocks/header/header.css');
@import url('./blocks/header/__logo/header__logo.css');
@import url('./blocks/header/__container/header__container.css');
@import url('./blocks/header/__description/header__description.css');
@import url('./blocks/header/__email/header__email.css');

@import url('./blocks/profile/profile.css');
@import url('./blocks/profile/__add-button/profile__add-button.css');
@import url('./blocks/profile/__avatar/profile__avatar.css');
@import url('./blocks/profile/__edit-button/profile__edit-button.css');
@import url('./blocks/profile/__info/profile__info.css');
@import url('./blocks/profile/__subtitle/profile__subtitle.css');
@import url('./blocks/profile/__title/profile__title.css');
@import url('./blocks/profile/__title-button/profile__title-button.css');
@import url('./blocks/profile/__main-container/profile__main-container.css');
@import url('./blocks/profile/__avatar-container/profile__avatar-container.css');
@import url('./blocks/profile/__avatar-edit/profile__avatar-edit.css');
@import url('./blocks/profile/__avatar-overlay/profile__avatar-overlay.css');

@import url('./blocks/elements/elements.css');
@import url('./blocks/elements/__container/elements__container.css');
@import url('./blocks/elements/__heart-button/elements__heart-button.css');
@import url('./blocks/elements/__item/elements__item.css');
@import url('./blocks/elements/__list/elements__list.css');
@import url('./blocks/elements/__photo/elements__photo.css');
@import url('./blocks/elements/__text/elements__text.css');
@import url('./blocks/elements/__heart-button/_like/elements__heart-button_like.css');
@import url('./blocks/elements/__delete-photo/elements__delete-photo.css');
@import url('./blocks/elements/__like-container/elements__like-container.css');
@import url('./blocks/elements/__like-counter/elements__like-counter.css');
@import url('./blocks/elements/__delete-photo/_no-active/elements__delete-photo_-no-active.css');

@import url('./blocks/footer/footer.css');
@import url('./blocks/footer/__text/footer__text.css');

@import url('./blocks/popup/popup.css');
@import url('./blocks/popup/__close/popup__close.css');
@import url('./blocks/popup/__container/popup__container.css');
@import url('./blocks/popup/__form/popup__form.css');
@import url('./blocks/popup/__button/popup__button.css');
@import url('./blocks/popup/__input/popup__input.css');
@import url('./blocks/popup/__title/popup__title.css');
@import url('./blocks/popup/_opened/popup_opened.css');
@import url('./blocks/popup/__image/popup__image.css');

@import url('./blocks/popup/__registration-img/popup__registration-img.css');
@import url('./blocks/popup/__registration-title/popup__registration-title.css');

@import url('./blocks/popup/__title/_place/popup__title_place.css');
@import url('./blocks/popup/__close/_place/popup__close_place.css');
@import url('./blocks/popup/__container/_place/popup__container_place.css');
@import url('./blocks/popup/__form/_place/popup__form_place.css');
@import url('./blocks/popup/__container/_img/popup__container_img.css');
@import url('./blocks/popup/__close/_img/popup__close_img.css');
@import url('./blocks/popup/__title/_img/popup__title_img.css');
@import url('./blocks/popup/__input/_error/popup__input_error.css');
@import url('./blocks/popup/__button/_disabled/popup__button_disabled.css');
@import url('./blocks/popup/__button/_areyousure/popup__button_areyousure.css');
@import url('./blocks/popup/__form/_new-avatar/popup__form_new-avatar.css');
@import url('./blocks/popup/__title/_mini-popup/popup__title_mini-popup.css');
@import url('./blocks/popup/__input/_new-avatar/popup__input_new-avatar.css');
@import url('./blocks/popup/__button/_new-avatar/popup__button_new-avatar.css');

@import url('./blocks/span/_all-error/span_all-error.css');

@import url('./blocks/user-data-container/user-data-container.css');
@import url('./blocks/user-data-container/__button/user-data-container__button.css');
@import url('./blocks/user-data-container/__form/user-data-container__form.css');
@import url('./blocks/user-data-container/__input/user-data-container__input.css');
@import url('./blocks/user-data-container/__title/user-data-container__title.css');
@import url('./blocks/user-data-container/__link/user-data-container__link.css');

@import url('./blocks/not-found/not-found.css');
@import url('./blocks/not-found/__button/not-found__button.css');
@import url('./blocks/not-found/__image/not-found__image.css');
@import url('./blocks/not-found/__title/not-found__title.css');


